In [252]:
# Import necessary programs
import pandas as pd
import matplotlib.pyplot as plt

In [253]:
## Try to import data from .csv files generated by ImageJ macro

In [265]:
# Define important variables at the top
layer = list(range(1,11)) # Generate a list of values 1 to 10
brdu = 'e11.5'
surv = 'p7.5'
slide = '67A'
red_file = "/Users/akoehler/Desktop/Cell_Counting/Results/Red_67A.csv"
yellow_file = "/Users/akoehler/Desktop/Cell_Counting/Results/Yellow_67A.csv"
green_file = "/Users/akoehler/Desktop/Cell_Counting/Results/Green_67A.csv"


# Import green file
red = pd.read_csv(red_file)
yellow = pd.read_csv(yellow_file)
green = pd.read_csv(green_file)
red

,Slice,Count,Total Area,Average Size,%Area,Mean
0,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,0,0.000,NaN,0.000,NaN
1,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,4,0.020,0.005,0.265,255.0
2,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,1,0.005,0.005,0.071,255.0
3,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,4,0.013,0.003,0.202,255.0
4,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,2,0.007,0.004,0.124,255.0
5,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,1,0.005,0.005,0.090,255.0
6,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,14,0.049,0.003,0.967,255.0
7,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,70,0.312,0.004,7.125,255.0
8,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,15,0.077,0.005,1.943,255.0
9,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,4,0.010,0.003,0.311,255.0

In [266]:
# Insert BrdU, Survival, and Section columns
red.insert(1, 'BrdU', brdu)
red.insert(2, 'Survival', surv)
red.insert(3, 'Section', slide)
red.insert(3, 'Layer', layer)
# Delete unnecessary information
del red['Slice']
red.drop(['Total Area', 'Average Size', '%Area', 'Mean'], axis = 1, inplace = True)
# Rename column for color indication
red.rename(columns = {'Count': 'Count (Red)'}, inplace = True)
red

    BrdU Survival  Layer Section  Count (Red)
0  e11.5     p7.5      1     67A            0
1  e11.5     p7.5      2     67A            4
2  e11.5     p7.5      3     67A            1
3  e11.5     p7.5      4     67A            4
4  e11.5     p7.5      5     67A            2
5  e11.5     p7.5      6     67A            1
6  e11.5     p7.5      7     67A           14
7  e11.5     p7.5      8     67A           70
8  e11.5     p7.5      9     67A           15
9  e11.5     p7.5     10     67A            4

In [267]:
# Preview yellow .csv
yellow

,Slice,Count,Total Area,Average Size,%Area,Mean
0,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,1,0.005,0.005,0.052,255.0
1,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,11,0.054,0.005,0.720,255.0
2,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,4,0.011,0.003,0.159,255.0
3,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,0,0.000,NaN,0.000,NaN
4,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,2,0.010,0.005,0.165,255.0
5,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,3,0.011,0.004,0.191,255.0
6,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,10,0.032,0.003,0.627,255.0
7,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,24,0.083,0.003,1.893,255.0
8,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,37,0.152,0.004,3.814,255.0
9,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,6,0.016,0.003,0.490,255.0

In [268]:
# Add yellow counts to dataframe
yellow = yellow['Count']
yellow

0     1
1    11
2     4
3     0
4     2
5     3
6    10
7    24
8    37
9     6
Name: Count, dtype: int64

In [269]:
red_yellow = pd.concat([red, yellow], axis = 1)
red_yellow.rename(columns = {'Count': 'Count (Yellow)'}, inplace = True)
red_yellow

    BrdU Survival  Layer Section  Count (Red)  Count (Yellow)
0  e11.5     p7.5      1     67A            0               1
1  e11.5     p7.5      2     67A            4              11
2  e11.5     p7.5      3     67A            1               4
3  e11.5     p7.5      4     67A            4               0
4  e11.5     p7.5      5     67A            2               2
5  e11.5     p7.5      6     67A            1               3
6  e11.5     p7.5      7     67A           14              10
7  e11.5     p7.5      8     67A           70              24
8  e11.5     p7.5      9     67A           15              37
9  e11.5     p7.5     10     67A            4               6

In [270]:
# Preview green .csv
green

,Slice,Count,Total Area,Average Size,%Area,Mean
0,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,36,0.144,0.004,1.515,255
1,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,121,0.527,0.004,7.031,255
2,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,70,0.270,0.004,3.848,255
3,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,16,0.049,0.003,0.778,255
4,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,13,0.058,0.004,0.969,255
5,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,41,0.163,0.004,2.930,255
6,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,44,0.175,0.004,3.474,255
7,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,12,0.052,0.004,1.183,255
8,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,48,0.198,0.004,4.961,255
9,CD1_e10.5_p7.5_EC_RelnG10_BrdU_sl67A_20xMosaix...,13,0.050,0.004,1.514,255

In [271]:
# Add green counts to dataframe
green = green['Count']
green

0     36
1    121
2     70
3     16
4     13
5     41
6     44
7     12
8     48
9     13
Name: Count, dtype: int64

In [272]:
red_yellow_green = pd.concat([red_yellow, green], axis = 1)
red_yellow_green.rename(columns = {'Count': 'Count (Green)'}, inplace = True)
red_yellow_green

    BrdU Survival  Layer Section  Count (Red)  Count (Yellow)  Count (Green)
0  e11.5     p7.5      1     67A            0               1             36
1  e11.5     p7.5      2     67A            4              11            121
2  e11.5     p7.5      3     67A            1               4             70
3  e11.5     p7.5      4     67A            4               0             16
4  e11.5     p7.5      5     67A            2               2             13
5  e11.5     p7.5      6     67A            1               3             41
6  e11.5     p7.5      7     67A           14              10             44
7  e11.5     p7.5      8     67A           70              24             12
8  e11.5     p7.5      9     67A           15              37             48
9  e11.5     p7.5     10     67A            4               6             13

In [273]:
# Define a path and filename that updates with slide number
new_path = '/Users/akoehler/Desktop/Cell_Counting/Results/Per_Slide_CSVs/red_yellow_green' + slide +'.csv'
new_path

'/Users/akoehler/Desktop/Cell_Counting/Results/Per_Slide_CSVs/red_yellow_green67A.csv'

In [274]:
# Export to .csv file
export_csv = red_yellow_green.to_csv (new_path, index = None, header=True)